<div class="container">
  <div class="row">
    <div class='top-message col-md-6 offset-sm-1'>

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
         <%= f.label :postcode, '郵便番号' %>
        <br>
        <%= f.text_field :postcode, autocomplete: 'postcode', class: 'form-control' %>
        <br>

        <%= f.label :prefecture_name, '都道府県' %>
        <br>
        <!--/ 47都道府県をプルダウンメニューで表示-->
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
        <br>

        <%= f.label :address_city, '市区町村' %>
        <br>
        <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control' %>
        <br>

        <%= f.label :address_street, '番地' %>
        <br>
        <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
        <br>

        <%= f.label :address_building, '建物' %>
        <br>
        <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %>
        <br>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
       <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up",class: "btn btn-success" %>
      </div>
      <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
