<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <%= render 'books/list', book: @book, user: @user %>
        </div>
        <div class="col-xs-9">
          <h2>Users</h2>
          <table class="table table-hover table-inverse">
            <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <a><%= attachment_image_tag user, :profile_image, class: "img-thumbnail", fallback: "no-image.png", size: "60x60" %></a>
                  </td>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= link_to "show", user_path(user.id) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  


