<div class="col-md-3">
      <h2>User info</h2>
      <img class="attachment user profile_image fallback">
      <table class="table">
  <tbody><tr></tr>
  <tr>
	  <th>name</th>
	  <th></th>
  </tr>
	  <th>introduction</th>
  <tr>
	  <th><%= link_to "edit", edit_user_path(current_user.id) %></th>
  </tr>
  </div>
</tbody>
</table>

<h1>New Book</h1>

<%= form_with model: @book, local:true do |f| %>
  <h5>Title</h5>
  <%= f.text_field :title %>
  <h5>Opinion</h5>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book' %>
<% end %>