<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>

<%= form_for @book do |f| %>
<%= f.label :titel%>
<br>
<%= f.text_field :titel%>
<br>
<%= f.label :body%>
<br>
<%= f.text_area :body %>
<br>
<%= f.submit %>
<% end %>