<%= render 'books/list', books: @books %>

<h2>Book detail</h2>
  <div class="container">
   <div class="row">
    <div class="col-md-9">
      <table class="table">
  <thead>
    <tr>
      <th colspan="8"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th><%= attachment_image_tag @user, :profile_image,  format: 'jpeg', fallback: "no-image.png",  size: "60x60" %></th>
         <th><%= @user.name %></th>
        <th><%= link_to @book.title %></th>
        <th><%= @book.body %></th>
        <% if @book.user == current_user %>
          <th><div class="btn btn-sm btn-success edit_book"><%= link_to "Edit", edit_book_path(@book) %><div><th>
        <% end %>
        <% if @book.user == current_user %>
          <th><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book" rel="nofollow" data-method="delete">Destroy</a></td>
       <% end %>
      </tr>
     </div>
    </div>
    </div>
  </tbody>
</table>
