<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<%= @book.title %>
<br>
<%= @book.body %>

<% if @book.user.id == current_user.id %>
  <br>
  <%= link_to "編集", edit_book_path(@book) %>
<% end %>

<%= @book.user.name %>

<%= link_to user_path(@book.user) %>