<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6c4c9f280d.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <header class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-dark" >
      <div class="container">
        <nav class='nav navbar-nav navbar-left' >
           <li>
              <%= link_to "/" do %>
              <span class="glyphicon">Bookers</span>
              <% end %>
            </li>
        </nav>
          <ul class="nav navbar-nav navbar-right" >
            <% if user_signed_in? %>
                <li>
                  <%= link_to user_path(current_user.id) do %>
                   <span class="glyphicon"><i class="fas fa-home"> Home</span></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path do %>
                   <span class="glyphicon"><i class="fas fa-users"> Users</span></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path do %>
                    <span class="glyphicon"><i class="fas fa-book-open"> Books</span></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path,method: :delete do %>
                    <span class="glyphicon"><i class="fas fa-sign-out-alt"> logout</span></i>
                  <% end %>
                </li>
            <% else %>
                <li>
                  <%= link_to "/" do %>
                    <span class="glyphicon"><i class="fas fa-home"> Home</span></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to home_about_path do %>
                  <span class="glyphicon"><i class="fas fa-link"> About</span></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path do %>
                    <span class="glyphicon"><i class="fas fa-user-plus"> sign up</span></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to  new_user_session_path do %>
                    <span class="glyphicon"><i class="fas fa-sign-in-alt"> login</span></i>
                  <% end %>
                </li>
            <% end %>
          </ul>
          </nav>
        </div>
        </header>

    <%= yield %>

        <footer>
          <div class='container'>
            <div class='row'>
              <div class='col-xs-3 offset-md-5'>
                <p>CopyRight Infratop.inc</p>
              </div>
            </div>
          </div>
        </footer>
  </body>
</html>
