<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
    <div class="notification is-info">
     <p class="notice"><%= notice %></p>
    </div>
    <% end %>
     <% if flash[:alate] %>
    <div class="notification is-info">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

  <header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <header>Bookres</header>
     <% if user_signed_in? %>
       <li>
        <%= link_to 'Home', user_path(current_user.id) %>
       </li>
        <li>
        <%= link_to 'Users', users_path %>
       </li>
        <li>
        <%= link_to 'Books', books_path %>
       </li>
      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sing Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>
       </ul>
      </div>
    </div>
  </nav>
</header>

    <%= yield %>
  </body>
</html>
